@import 'tailwindcss';

body,
html {
  font-family: 'Arial', sans-serif;
}

@theme inline {
  --font-poppins: 'Poppins', sans-serif;
  --color-primary: #1a2b56;
  --color-accent: #d71920;
  --color-light-gray: #737b7d;
  --color-dark-gray: #4e4e4e;
}

@layer components {
  .nav-link {
    @apply font-poppins font-medium text-primary hover:underline underline-offset-2;
  }
  .feature-banner {
    @apply w-full h-[140px] lg:h-[480px] xl:h-[800px] uppercase flex items-center justify-center font-bold text-3xl xl:text-5xl text-center text-white px-6;
  }
  .btn-base {
    @apply rounded-md font-poppins font-semibold text-white bg-accent hover:bg-accent/90 transition;
  }
  .btn-outline {
    @apply rounded-md font-poppins font-semibold text-black border border-black hover:bg-black/10 transition;
  }
}
