.feature-banner {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-variant-caps: all-small-caps;
}

.feature-banner-1 {
  background-image: linear-gradient(
      rgba(40, 66, 131, 0.7) 100%,
      rgba(40, 66, 131, 0.7) 100%
    ),
    url('/images/feature-1.jpg');
}
.feature-banner-2 {
  background-image: linear-gradient(
      rgba(40, 66, 131, 0.7) 100%,
      rgba(40, 66, 131, 0.7) 100%
    ),
    url('/images/feature-2.jpg');
}
.feature-banner-3 {
  background-image: linear-gradient(
      rgba(40, 66, 131, 0.7) 100%,
      rgba(40, 66, 131, 0.7) 100%
    ),
    url('/images/feature-3.jpg');
}
.feature-banner-4 {
  background-image: linear-gradient(
      rgba(40, 66, 131, 0.7) 100%,
      rgba(40, 66, 131, 0.7) 100%
    ),
    url('/images/feature-4.jpg');
}

.our-mission-image {
  background: url('/images/our-mission.jpg') no-repeat center center / cover;
}

.footer {
  background: #090a3f;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      rgba(9, 10, 63, 0.98) 100%,
      rgba(9, 10, 63, 0.98) 100%
    ),
    url('/images/logo-white.png');
}

.nav-link.active,
.nav-link:hover {
  text-decoration: underline #d71920 3px;
  text-underline-offset: 4px;
}

.driver-opportunities-banner {
  background: #02033b;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      180deg,
      rgba(2, 3, 59, 0) 0%,
      rgba(2, 3, 59, 0.6) 37.98%
    ),
    url('/images/driver-opportunities-banner.jpg');
}

.about-us-banner {
  background: #02033b;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      180deg,
      rgba(0, 1, 46, 0) 8.65%,
      rgba(0, 1, 46, 0.73) 57.21%
    ),
    url('/images/about-us-banner.jpg');
}

.job-benefits {
  background: url('/images/job-benefits-bg.png') no-repeat center center / cover;
}
.work-conditions {
  background: url('/images/work-conditions-bg.png') no-repeat center center /
    cover;
}
.faq-title {
  font-variant-caps: all-small-caps;
}

.our-history {
  background: url('/images/our-history-bg.png') no-repeat #090a3f;
  background-position: bottom right;
}

.our-mission {
  background: url('/images/our-mission-bg.png') no-repeat;
  background-position: bottom left;
  background-size: 400px;
}

.our-values {
  background: url('/images/our-values-bg.png') no-repeat center center / cover,
    #2842831c;
}

.our-fleet {
  background: #090a3fab;
  background-image: linear-gradient(
      rgba(9, 10, 63, 0.67) 100%,
      rgba(9, 10, 63, 0.67) 100%
    ),
    url('/images/our-fleet-bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.form-input::placeholder {
  color: #383c3e;
  font-size: 14px;
  letter-spacing: 0.5px;
}
.form-comments::placeholder {
  color: #8e8e8e;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.form-label {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  letter-spacing: 0.5px;
}

@media screen and (width >= 64rem) {
  .job-benefits {
    background-size: contain;
  }
  .work-conditions {
    background-size: contain;
  }
  .faq-title {
    font-variant-caps: normal;
  }
  .our-history {
    background-size: contain;
    background-position: right center;
  }
  .our-mission {
    background-position: center left;
    background-size: 50%;
  }
}

@media screen and (width >= 80rem) {
  .our-history {
    background-size: contain;
    background-position: 70% center;
  }
}
