.feature-banner {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-variant-caps: all-small-caps;
}

.feature-banner-1 {
  background-image: linear-gradient(
      rgba(40, 66, 131, 0.7) 100%,
      rgba(40, 66, 131, 0.7) 100%
    ),
    url('/images/feature-1.jpg');
}
.feature-banner-2 {
  background-image: linear-gradient(
      rgba(40, 66, 131, 0.7) 100%,
      rgba(40, 66, 131, 0.7) 100%
    ),
    url('/images/feature-2.jpg');
}
.feature-banner-3 {
  background-image: linear-gradient(
      rgba(40, 66, 131, 0.7) 100%,
      rgba(40, 66, 131, 0.7) 100%
    ),
    url('/images/feature-3.jpg');
}
.feature-banner-4 {
  background-image: linear-gradient(
      rgba(40, 66, 131, 0.7) 100%,
      rgba(40, 66, 131, 0.7) 100%
    ),
    url('/images/feature-4.jpg');
}

.our-mission-image {
  background: url('/images/our-mission.jpg') no-repeat center center / cover;
}

.footer {
  background: #090a3f;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      rgba(9, 10, 63, 0.98) 100%,
      rgba(9, 10, 63, 0.98) 100%
    ),
    url('/images/logo-white.png');
}

.nav-link.active,
.nav-link:hover {
  text-decoration: underline #d71920 3px;
  text-underline-offset: 4px;
}

.about-us-banner {
  background: #02033b;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      180deg,
      rgba(2, 3, 59, 0) 0%,
      rgba(2, 3, 59, 0.6) 37.98%
    ),
    url('/images/about-us-banner.jpg');
}

.job-benefits {
  background: url('/images/job-benefits-bg.png') no-repeat center center / cover;
}

@media screen and (width >= 64rem) {
  .job-benefits {
    background-size: contain;
  }
}
